In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import math
import cv2
from tqdm import tqdm_notebook as tqdm

from itertools import combinations
from itertools import chain
from IPython.display import display

## Generation of Datasets
Two datasets of 500 and 7300 samples
Each person in the datasets has 6 protected attributes:
* Gender                  = {Male, Female}
* Country                 = {America, India, Other}
* Year of Birth           = [1950, 2009]
* Language                = {English, Indian, Other}
* Ethnicity               = {White, African-American, Indian, Other}
* Years of Experience     = [0,30]

And two observed attributes:
* Language Test = [25,100]
* Approval rate = [25,100]

Task Qualification Function:

$f = \alpha b_1 + (1-\alpha)b_2$

Where $b_1$ is the *language test* and $b_2$ is *approval rate* and the $\alpha \in \{0,0.3,0.5,0.7,1\}$

In [2]:
# the protected columns
protected_attrs = {
    'gender' : ['male', 'female'],
    'country' : ['america', 'india', 'other'],
    'year_birth' : (1950, 2009),
    'language' : ['english', 'india', 'other'],
    'ethnicity' : ['white', 'african-american', 'indian', 'other'],
    'year_experience' : (0,30)
}
# the observed columns
observed_attrs = {
    'language_test' : (25,100),
    'approval_rate' : (25,100)
}

In [3]:
def generate_dataset(n):
    '''Generates the dataset accordinly the parameter n that represents the amount of people'''
    # define the dataset structure
    dataset = []
    # generate the samples
    for i in range(n):
        sample_protected = [v[random.randint(0,len(v)-1)] if type(v) is list else random.randint(v[0], v[1]) for k,v in protected_attrs.items()]
        sample_observed  = [random.randint(v[0], v[1]) for k,v in observed_attrs.items()]
        sample = sample_protected + sample_observed
        dataset.append(sample)
        
    columns = list(protected_attrs.keys()) + list(observed_attrs.keys())
    return pd.DataFrame(dataset, columns=columns)

In [4]:
small_dataset = generate_dataset(500)

In [5]:
display(small_dataset)

,gender,country,year_birth,language,ethnicity,year_experience,language_test,approval_rate
0,male,india,1953,india,white,13,51,60
1,male,india,1973,india,indian,19,87,63
2,female,india,1987,other,other,1,99,30
3,male,america,2007,other,indian,23,29,49
4,female,other,2007,india,african-american,21,27,53
5,female,other,1991,india,african-american,11,46,92
6,female,other,1958,english,indian,30,75,53
7,female,india,1973,other,indian,7,45,29
8,male,america,2005,india,other,21,82,45
9,female,america,1966,india,african-american,5,38,42
10,female,india,2008,other,other,23,55,62
11,male,india,1977,other,indian,9,30,97
12,female,other,2008,english,white,18,97,34
13,male,other,2001,other,other,19,31,42
14,male,america,1994,other,white,7,81,29
15,female,india,1963,english,indian,1,37,45
16,male,india,2006,english,white,15,76,65
17,male,other,1983,english,african-american,8,27,35
18,female,india,1993,english,indian,15,86,86
19,male,america,1953,other,indian,16,61,85
20,female,india,2007,english,african-american,22,47,29
21,female,india,2007,india,indian,23,35,44
22,female,india,2007,india,other,30,47,88
23,male,other,1956,india,indian,23,88,50
24,male,other,1957,english,indian,12,40,41
25,male,india,1963,other,other,21,28,96
26,male,america,1974,india,white,3,47,40
27,male,other,1985,india,other,10,46,95
28,male,america,1994,other,white,4,28,94
29,male,america,2008,india,indian,29,91,33
...,...,...,...,...,...,...,...,...
470,female,america,1997,india,other,5,89,76
471,male,india,1958,english,other,22,80,93
472,male,india,1983,other,african-american,4,90,81
473,female,america,1953,english,african-american,17,94,72
474,female,india,1980,india,white,8,38,92
475,male,india,1978,india,white,30,71,54
476,female,america,1951,english,indian,6,26,53
477,male,other,1960,india,indian,17,58,34
478,female,india,2009,english,african-american,1,79,57
479,female,other,1972,english,white,22,97,28
480,female,india,1987,english,other,19,60,28
481,female,america,1977,india,other,23,53,46
482,female,india,1999,india,white,24,96,88
483,male,america,1966,other,indian,25,94,73
484,male,america,2006,india,other,9,77,34
485,female,india,1968,india,other,22,33,43
486,female,india,1976,english,other,21,36,25
487,male,other,1970,english,white,8,27,93
488,male,other,2006,english,white,8,94,37
489,male,india,1987,english,white,2,71,58
490,female,india,1992,india,african-american,12,32,74
491,female,india,2006,english,other,17,83,73
492,male,india,1958,other,indian,24,42,64
493,female,india,1981,other,indian,25,41,95
494,female,america,1968,english,white,27,50,31
495,male,india,1961,india,indian,20,33,99
496,male,america,1984,india,white,14,97,25
497,male,other,1990,india,other,3,74,41
498,male,america,1992,india,african-american,21,68,57
499,female,india,1994,english,other,24,50,58

# The algorithm

In [6]:
class BalancedAlgorithm:
    def __init__(self, attributes, bins=np.arange(0,1.1,0.1)):
        self.attributes = attributes.copy()
        self.bins = bins
        self.dist = cv2.DIST_L2
        
    def generate_signature(self, h, b):
        ''''
        Convert numpy histogram in signature data structure necessary for the usage of OpenCV EMD
        Create a matrix that each row is a frequency value obtained by the histogram algorithm and the bin value (position)
        '''
        return np.array([(n, i) for i,n in enumerate(h)]).astype(np.float32)
    
    def emd_pairwise(self, histograms):
        pairs = combinations(histograms, 2)
        emd_list = []
        for pair in pairs:
            emd_value, _, flow = cv2.EMD(pair[0], pair[1], self.dist)
            emd_list.append(emd_value/np.sum(flow))
            
        return emd_list
    
    def generate_histogram(self, f, partition):
        samples = [f(row) for _,row in partition.iterrows()]
        h,b = np.histogram(samples, bins=self.bins, density=True)
        return self.generate_signature(h,b)
        
    def worst_attribute(self,dataset,f,A):
        worst_attr = ''
        highest_emd = float('-inf')
        splittable = None
        
        if len(dataset) == 0:
            raise ValueError("The dataset can not be empty")
        
        for W in dataset:
            for column, possible_values in A.items():
                
                if type(possible_values) is not list:
                    possible_values = list(range(possible_values[0], possible_values[1]+1))
                
                histograms = []
                for value in possible_values:
                    query_string = '{} == "{}"'.format(column, value)
                    partition = W.query(query_string) # query by attribute value
                    
                    if partition.empty:
                        continue

                    histograms.append(self.generate_histogram(f, partition))

                # we need more than 1 attr-value to compare the histograms
                if len(histograms) <= 1:
                    continue
                
                # we need to make the pairwise EMD
                emd_list = self.emd_pairwise(histograms)

                avg_emd = np.average(emd_list)
                if avg_emd > highest_emd:
                    highest_emd = avg_emd
                    worst_attr = column
                    splittable = W
        
        assert(worst_attr is not '' and highest_emd is not float('-inf'))
        
        return worst_attr, highest_emd, splittable
        
    def split(self,W,a):
        if type(W) is list:
            array = []
            for w in W:
                array += [df for _, df in w.groupby(a)]
            return array
                
        return [df for _, df in W.groupby(a)]

    def average_emd(self,W,f):
        histograms = []
        emd_list = []
        for partition in W:
            histograms.append(self.generate_histogram(f, partition))

        if len(histograms) <= 1:
            return 0
        
        emd_list = self.emd_pairwise(histograms)
        return np.average(emd_list)

    def run(self,W,f,attr):
        removal_list = []
        avg_list = []
        A = attr.copy()
        
        a, emd_val, splittable = self.worst_attribute([W],f,A)
        
        removal_list.append(a)
        A.pop(a) # line 2 of the pseudo code
        
        current = self.split(splittable, a)
        current_avg = self.average_emd(current, f)
        avg_list.append(current_avg)

        while len(A) > 0:
            try:
                worst = self.worst_attribute(current,f,A)
            except:
                print("There is no possible to get the worst attribute with the current variable.")
                print("Current has a lenght of {}".format(len(current)))
                for c in current:
                    display(c)
            
            a = worst[0]
            A.pop(a)
            children = self.split(worst[2],a)
            
            # add the others partitions not splitted
            for partition in current:
                if partition.equals(worst[2]):
                    continue
                children += [partition]
            
            children_avg = self.average_emd(children,f)
            if current_avg >= children_avg:
                break
            else:
                current = children
                current_avg = children_avg
                
                avg_list.append(current_avg)
                removal_list.append(a)

        return current, np.mean(avg_list), removal_list, avg_list

In [7]:
class ScoringFunction:
    def __init__(self, alpha=0, b1_name='', b2_name=''):
        self.a = alpha
        self.b1_name = b1_name
        self.b2_name = b2_name
        
    def f(self,row):
        b1 = row[self.b1_name]
        b2 = row[self.b2_name]
        return (self.a*b1 + (1-self.a)*b2)

In [9]:
alpha = [0.0,0.3,0.5,0.7,1.0]

f1 = ScoringFunction(alpha=alpha[1], b1_name='language_test', b2_name='approval_rate').f
f2 = ScoringFunction(alpha=alpha[2], b1_name='language_test', b2_name='approval_rate').f
f3 = ScoringFunction(alpha=alpha[3], b1_name='language_test', b2_name='approval_rate').f
f4 = ScoringFunction(alpha=alpha[4], b1_name='language_test', b2_name='approval_rate').f
f5 = ScoringFunction(alpha=alpha[0], b1_name='language_test', b2_name='approval_rate').f

f6 = lambda row: random.uniform(.8, 1) if row['gender'] == 'male' else random.uniform(0, .2)

In [10]:
r1 = []
r2 = []
r3 = []
r4 = []
r5 = []
r6 = []
for i in tqdm(range(5)):
    balanced = BalancedAlgorithm(protected_attrs, bins=np.arange(25,101))
    balanced2 = BalancedAlgorithm(protected_attrs)
    
    result1 = balanced.run(small_dataset.copy(), f1, protected_attrs)
    result2 = balanced.run(small_dataset.copy(), f2, protected_attrs)
    result3 = balanced.run(small_dataset.copy(), f3, protected_attrs)
    result4 = balanced.run(small_dataset.copy(), f4, protected_attrs)
    result5 = balanced.run(small_dataset.copy(), f5, protected_attrs)
    result6 = balanced2.run(small_dataset.copy(), f6, protected_attrs)
    
    small_dataset = generate_dataset(500)
    
    r1.append(result1[1])
    r2.append(result2[1])
    r3.append(result3[1])
    r4.append(result4[1])
    r5.append(result5[1])
    r6.append(result6[1])

HBox(children=(IntProgress(value=0, max=5), HTML(value='')))

In [11]:
print("F1 Average EMD = {}".format(np.average(r1)))
print("F2 Average EMD = {}".format(np.average(r2)))
print("F3 Average EMD = {}".format(np.average(r3)))
print("F4 Average EMD = {}".format(np.average(r4)))
print("F5 Average EMD = {}".format(np.average(r5)))
print("F6 Average EMD = {}".format(np.average(r6)))

F1 Average EMD = 11.959967871991244
F2 Average EMD = 11.271772642151092
F3 Average EMD = 11.762982078213623
F4 Average EMD = 14.933244916518593
F5 Average EMD = 14.69911977549286
F6 Average EMD = 0.802485303878784